/minecraftTest/nbproject/private/
/minecraftTest/build/
/guia7-ejercicios/nbproject/private/
/guia7-ejercicios/build/
/POO-EJ001/nbproject/private/
/POO-EJ001/build/
/Sueldos/nbproject/private/
/guia8/nbproject/private/
/guia8/build/
/ejercicio1-guia8/nbproject/private/
/ejercicio2-guia8/nbproject/private/
/ejercicio2-guia8/build/
/ejercicio3-guia8/nbproject/private/
/ejercicio3-guia8/build/