.input-group {
    position: relative;
}

.input-group__input {
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-group__label:is(:focus, :valid) {
    outline-color: #3c50eb;
}

.input-group__label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms, scale 500ms;

}

.input-group__input:focus+.input-group__label,
.input-group__input:valid+.input-group__label {
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #000;
}
body{
    background-color: #000;
    color: #fff;
}