*{
    background-color:burlywood;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-weight: bolder;
    font-size:larger;
    color: cadetblue;
}
ul{
    font-style: italic;
}
p{
    font-size: large;
}